
<nav class="navbar navbar-expand-lg navbar-black nav-decoration fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#"><img class="ms-lg-3 ms-md-2 ms-sm-0 ms-0" width="192" src="{{ asset('assets/img/logo-dev.png') }}" alt =" Image"></a>
        <button  id = "nav-text" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon nav-text "></span>
        </button>
        <div  class="collapse navbar-collapse text-center nav-text" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto d-flex justify-content-evenly w-75 fs-5" id="hoverTest">

                <li class="nav-item">

                    <a class="nav-link  nav-link-ukraine nav-text-simple " href="#presentation">Présentation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-ukraine nav-text-simple" href="#witness">Witness</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-ukraine nav-text-simple" href="#Team">Team</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link nav-link-ukraine nav-text-simple" href="#Partners">Partners</a>
                </li>

            </ul>
            <a class="btn btn-warning text-white fs-5 text-uppercase me-lg-3 me-md-2 me-em-0 me-0" href="https://www.helloasso.com/associations/yahad-in-unum/formulaires/4/widget?fbclid=IwAR0FugcvzK5_p_mIzWDC4qirYpxRYbRV5qa0Yyfh_TIivFmMkqfw_67CuHE" aria-expanded="false">donate</a>
        </div>
    </div>
</nav>